@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.CTAButton {
  position: relative;
  width: 100%;

  img {
    height: 20px;
    max-width: 20px;
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
  }
}
