@use "../../styles/partials/mixins" as *;

.main {
  margin-top: 160px;

  @include tablet {
    margin-top: 72px;
  }

  &__container {
    @include desktop {
      display: flex;
    }
  }

  &__main-content {
    @include desktop {
      width: 65%;
    }
  }
}
