@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-detail {
  padding: 0 1rem;

  h1,
  p {
    @include desktop {
      padding-right: 2.25rem;
    }
  }

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0 0 0 8.125rem;
  }
}
