//Primary text color
$BrainFlix-Black: #323232;
// Primary CTA color. Active form field outline color
$BrainFlix-Blue: #0095ff;
// Seconday text color. Text Label color
$BrainFlix-Silver: #afafaf;
//Background color. CTA text color
$BrainFlix-White: #ffffff;
// Video player components
$BrainFlix-DarkBlack: #000000;
//CTA hover state color
$BrainFlix-DarkBlue: #0065ad;
//Divider line. Form field outline color
$BrainFlix-Mercury: #e1e1e1;
//Form field background color
$BrainFlix-Alabaster: #fafafa;

// MOBILE padding
$padding-before-headline-m: 1.5rem;
$padding-after-headline-m: 1rem;
$padding-between-components-m: 1rem;

// DESKTOP & TABLET padding
$padding-before-headline: 2.25rem;
$padding-after-headline: 1.5rem;
$padding-between-components: 1.5rem;
