@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-keyinfo {
  border-top: 1px solid $BrainFlix-Mercury;
  border-bottom: 1px solid $BrainFlix-Mercury;
  padding: 0.6rem 0;
  display: flex;
  justify-content: space-between;

  &__left-col {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    @include tablet {
      flex-wrap: nowrap;
    }
  }

  p {
    margin: 0.4rem 0;
  }

  &__channel {
    font-weight: 600;
    width: 100%;

    @include tablet {
      width: auto;
      padding-right: 1.8rem;
    }
  }

  &__icons-numbers {
    @include tablet {
      width: 200px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__icon-number-wrapper {
    display: flex;
  }

  &__grey-text {
    color: $BrainFlix-Silver;
  }

  &__number {
    padding-left: 0.5rem;
  }
}
