@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-post {
  margin-bottom: 0.5rem;

  @include desktop {
    padding-right: 2.25rem;
  }

  &__form-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__img-container {
    margin-top: 1.4rem;
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    border-radius: 50%;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }

    img {
      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: 20%;
    }
  }

  &__form-input-box {
    width: 82%;
    position: relative;

    @include tablet {
      margin: 0;
      width: 91%;
    }

    @include desktop {
      margin: 0;
      width: 90%;
    }
  }

  &__input-button-wrapper {
    @include tablet {
      display: flex;
      align-items: flex-start;
    }
  }

  &__textarea {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 0.6rem;
    border: 1px solid $BrainFlix-Mercury;
    background-color: $BrainFlix-Alabaster;
    resize: none;
    overflow: hidden;

    @include tablet {
      margin-right: 1.5rem;
    }

    &::placeholder {
      color: $BrainFlix-Black;
    }

    &:focus {
      outline: none;
      border: 2px solid $BrainFlix-Blue;
      height: 100px;
    }

    &--error {
      border-color: #d22d2d;
    }

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__button-box {
    margin: 0.6rem 0;

    @include tablet {
      margin-top: 0;
    }
  }
}
